<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="STDOUT-default" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %clr(%d{HH:mm:ss.SSS}){faint} %clr([%X{traceId}]){yellow} %clr(%5p) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx
      </pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT-${LOGGING_FORMAT:-default}"/>
  </root>

</configuration>